# Go
backend/tmp/
backend/uploads/
backend/.next/
backend/server

# Node
frontend/.next/
frontend/node_modules/
frontend/CLAUDE.md
frontend/AGENTS.md

# Env
.env
.env.local

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Docker
pgdata/
.claude/
/文档/
/.next/
